<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>

    <meta name="keyowrds" content="<%= @seo_keywords %>" />
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

      <%= video_tag(
          'HardDrivePhotojpeg.mp4',
          id: 'background',
          autoplay: true,
          loop: true,
          muted: true,
          poster: 'home_bg.png'
      )
      %>

      <%= render "shared/application_nav" %>
      <%= yield %>
      <%# <%= copyright_generator %>
      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
        </div>
      </footer>

      <%= alerts %>

      <%= source_helper("appplication") %>

    </div>
  </body>
</html>